<div class="modal-body">
    <div class="row pt-4 text-center">
        <div class="col-md-12">
            <h4>
                Payment Confirmed!
            </h4>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-12">
            <div class="btn-toolbar float-right" role="toolbar">
                <div class="btn-group" role="group">
                    <button class="btn btn-medium btn-cool-grey text-white mr-4" (click)="onBtnPrint()">
                        PRINT RECEIPT & NEXT
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-medium btn-brand-secondary" (click)="onBtnNext()">
                        NEXT
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>