<div class="card h-100" *ngxPermissionsOnly="['ROLE_DOCTOR']">
    <div class="card-header font-weight-semi-bold">
        REFERRAL
    </div>
    <div class="card-body">
        <div class="container-fluid px-0">
            <!-- {{itemsFormArray.value |json }} -->
            <app-referral-item *ngFor="let item of itemsFormArray.controls; let i=index" [referralItem]="item" (onDelete)="onDelete($event)"></app-referral-item>
            <button class="btn btn-outline-brand-secondary float-right mt-3 " (click)="onBtnAddClicked()">+ Add Referral</button>
        </div>
    </div>
</div>