<div class="row mb-2" [formGroup]="item">
    <div class="col-md-2">
        <input name="itemCode" class="form-control form-control-sm" formControlName="itemCode">
    </div>
    <div class="col-md-4">
        <input name="medicationName" class="form-control form-control-sm" formControlName="medicationName">
    </div>
    <div class="col-md-3">
        <input name="type" formControlName="type" class="form-control form-control-sm">
    </div>
    <div class="col-md-3">
        <input name="startDate" formControlName="startDate" class="form-control form-control-sm">
    </div>
</div>