<div class="container h-100">
  <alert></alert>
  <div class="form-content">
    <form [formGroup]="formGroup" class="col-md-6" novalidate>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <label>Password
            <font color="red">*</font>
          </label>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <input class="form-control form-control-sm" type="password" formControlName="password" />
        </div>
      </div>

      <div class="row pt-4 justify-content-center">
        <div class="col-md-6">
          <label>New Password
            <font color="red">*</font>
          </label>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <input class="form-control form-control-sm" type="password" formControlName="newPassword" />
        </div>
      </div>

      <div class="row pt-4 justify-content-center">
        <div class="col-md-6">
          <label>Confirm New Password
            <font color="red">*</font>
          </label>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <input class="form-control form-control-sm" type="password" formControlName="confirmNewPassword" />
          <errors [control]="formGroup"></errors>
        </div>
      </div>

      <div class="row pt-4 justify-content-center">
        <div class="col-md-6">
          <button class="btn btn-large btn-blue" (click)="onBtnChangeClicked()" [disabled]="formGroup.errors">
            Change
          </button>
        </div>
      </div>
    </form>
  </div>
</div>