.container {
    height: 100vh;
}

.form-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-header {
    height: 6rem;
}

.form-signin-heading {
    font-size: 1.625rem;
}

.img-logo {
    min-width: 0.5rem;
    min-height: 0.5rem;
    width: 7rem;
    height: 5rem;
}

.rectangle-2 {
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #0094c9;
}

.card-body {
    margin: 20px;
}
