.data-table {
    background: #9b9b9b;
    margin-bottom: 5px;
    
	div {
        // padding-bottom: 5px;		

		label {
			border: none;
            color: #fff;
            font-size: 0.87rem;
			font-weight: 400;
			padding: 10px 5px;
		}		
	}
}

.default-panel-footer {
	background: #f5f7fa;
	padding: 0px 10px 0px 10px;

	.btn-light {
		background: #fff;
		color: #333 !important;
		border-color:#333;
	}
	.delete-btn {
		float: right;
		color: #fff !important;
	}
	.btn {
		margin: 10px 0;
	}
}