<form novalidate>
    <div class="card">
        <div class="card-header">
            PRINT
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-md-2">
                    <label class="mb-0">Drug Label</label>
                </div>

                <div class="col">
                    <div class="btn-toolbar float-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <button class="btn btn-medium btn-brand-primary" (click)="onBtnPrintLabelClicked()" (keyup)="onBtnPrintLabelClicked()">
                                Print Label (F7)
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header p-0" *ngIf="displayMC"></div>
        <div class="card-body" *ngIf="displayMC">
            <div class="row">
                <div class="col col-md-2">
                    <label class="mb-0">Medical Certificates</label>
                </div>

                <div class="col col-md-6">
                    <form *ngFor="let form of printFormGroup.get('medicalCertificateArray')['controls']; let i = index;"
                        [formGroup]="form" novalidate>
                        <div class="row">
                            <label class="mb-0">{{form.value.medicalCertificateStr}}</label>
                        </div>
                    </form>
                </div>

                <div class="col">
                    <div class="btn-toolbar float-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <button class="btn btn-medium btn-brand-primary" (click)="onBtnPrintMCClicked()" (keyup)="onBtnPrintLabelClicked()">
                                Print MC (F8)
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header p-0" *ngIf="displayReferral"></div>
        <div class="card-body" *ngIf="displayReferral">
            <div class="row">
                <div class="col col-md-2">
                    <label class="mb-0">Referral</label>
                </div>

                <div class="col col-md-6">
                    <form *ngFor="let form of printFormGroup.get('referralArray').controls; let i = index;" [formGroup]="form"
                        novalidate>
                        <div class="row ml-0 mr-0">
                            <label class="mb-0">{{form.value.str}}</label>
                        </div>
                    </form>
                </div>

                <div class="col">
                    <div class="btn-toolbar float-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <button class="btn btn-medium btn-brand-primary" (click)="onBtnPrintLetterClicked()">
                                Print Letter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header p-0" *ngIf="displayMemo"></div>
        <div class="card-body" *ngIf="displayMemo">
            <div class="row">
                <div class="col col-md-2">
                    <label class="mb-0">Memo</label>
                </div>
                <div class="col col-md-6">
                    <div class="row" [innerHTML]="printFormGroup.value.memo">
                        <!-- <label class="mb-0">{{printFormGroup.value.memo}}</label> -->
                    </div>
                </div>
                <div class="col">
                    <div class="btn-toolbar float-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <button class="btn btn-medium btn-brand-primary" (click)="onBtnPrintMemoClicked()">
                                Print Memo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header p-0"></div>
        <div class="card-body">
            <div class="row">
                <div class="col col-md-2">
                    <label class="mb-0 mt-2 mr-2">Time Chit (Optional)</label>
                </div>
                <div class="col col-md-6">
                    <div class="row" [formGroup]="printFormGroup">
                        <label class="mb-0 m-2">TIME CHIT: FROM </label>
                        <timepicker formControlName="timeChitFrom" [showMeridian]=false [showSpinners]=false></timepicker>
                        <label class="mb-0 m-2">TO </label>
                        <timepicker formControlName="timeChitTo" [showMeridian]=false [showSpinners]=false></timepicker>
                    </div>
                </div>
                <div class="col">
                    <div class="btn-toolbar float-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <button class="btn btn-medium btn-brand-primary" (click)="onBtnPrintTimeChitClicked()">
                                Print Time Chit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<div class="btn-toolbar float-right" role="toolbar">
    <div class="btn-group" role="group">
        <button class="btn btn-large btn-brand-secondary" (click)="onBtnNextClicked()">Next</button>
    </div>
</div>