<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand bg-brand-primary navbar-logo" href="/"></a>
    <h4 *ngIf="!showPatientDetails" class="pl-4 mb-0">{{ headerTitle }}</h4>
    <app-consultation-patient-info *ngIf="showPatientDetails"></app-consultation-patient-info>
    <div class="col-md-2 ml-auto mr-5">
        <app-header-registry [hidden]="!showRegistryMenu"></app-header-registry>
    </div>
    <div class="mr-4" *ngxPermissionsOnly="['ROLE_NOTIFICATION_MANAGEMENT']">
        <i class="icon-bell i-dot" (click)="onBtnNotification()" [popover]="notificationTemplate" placement="bottom" [outsideClick]="true" containerClass="notification-popover">
            <span class="dot" *ngIf="store.getUnreadNotificationList().length"></span>
        </i>
        <ng-template #notificationTemplate>
            <div class="container-fluid">
                <div class="row pt-2">
                    <div class="col-md-7">
                        <strong>Notifications</strong>
                    </div>
                    <div class="col-md-5">
                        <strong class="cursor-pointer" (click)="markAllAsRead()">Mark All As Read</strong>
                    </div>
                </div>
                <div *ngFor="let notification of notifications; let i = index;" [ngClass]="{'bg-grey': notification.read}">
                    <hr class="mt-0">
                    <div class="row pb-2">
                        <div class="col-md-8">
                            {{notification.message}}
                        </div>
                        <div class="col-md-4 text-right">
                            <small>{{notification.fromNow}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>

    <span class="profile mr-4" (click)="onBtnProfile()" [popover]="profileTemplate" placement="bottom" [outsideClick]="true" containerClass="profile-popover logout-popover">
     {{store.getUserLabel()}} 
    </span>

    <ng-template #profileTemplate>
        <div class="pl-2">
            <div class="row pt-2">
                <div class="col-md-12">
                    <span>{{username}}</span>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-md-12">
                    <span>{{doctorGroup}} | {{speciality}}</span>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-md-12">
                    <span class="icon-location"></span>{{ formatToTitleCase(clinic.name) }}
                </div>
            </div>
            <div class="row pt-2 pb-2">
                <div class="col-md-12">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group">
                            <button class="btn btn-blue p-1 mr-2" (click)="onBtnChangePassword()">
                                Change Password
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-blue p-1" (click)="onBtnLogout()">
                                Logout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</header>