<div class="card">
    <div class="card-header">
        Medical Coverage
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div *ngFor="let item of medicalCoverageFormArray.controls; let i = index;">
                    <div *ngIf="i==0">
                        <div class="row plan-remark-headers align-middle">
                            <div *ngIf="!forDisplayOnly" class="col-1">Priority</div>
                            <div class="col">Company</div>
                            <div class="col">Plan</div>
                            <div class="col" style="border-right-style:none">Coverage No</div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>