<form [formGroup]="companyInfoFormGroup" novalidate>
    <div class="card">
        <div class="card-header">
            PATIENT COMPANY INFORMATION
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <label>Company</label>
                    <input class="form-control form-control-sm" formControlName="company" />
                </div>
                <div class="col-md-4">
                    <label>Occupation</label>
                    <ng-select class="p-0 form-control form-control-sm custom-select custom-select-extra-medium-width" [clearable]=false [items]="companyInfoFormGroup.value.occupations.value" bindLabel="label" bindValue="value" placeholder="Select Occupation" [virtualScroll]="true" formControlName="occupation"  [addTag]="true" [clearable]="true">
                    </ng-select>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-12">
                    <label>Address Line 1</label>
                    <input class="form-control form-control-sm" formControlName="line1" />
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-8">
                    <label>Address Line 2</label>
                    <input class="form-control form-control-sm" formControlName="line2" />
                </div>
                <div class="col-md-4">
                    <label>Company Postal</label>
                    <input class="form-control form-control-sm" formControlName="postCode" />
                    <errors [control]="companyInfoFormGroup.get('postCode')"></errors>
                </div>
            </div>
        </div>
    </div>
</form>