<div class="card">
    <div class="card-header">
        PRINT
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-md-2">
                <label class="mb-0">Patient Details</label>
            </div>

            <div class="col">
                <div class="btn-toolbar float-right" role="toolbar">
                    <div class="btn-group" role="group">
                        <button class="btn btn-medium btn-brand-secondary" (click)="onBtnPrintPatientLabelClicked()">
                            Print Label
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>