.ngx-datatable.bootstrap.custom-datatable .datatable-header {
  height: 2.2rem !important;
}

.ngx-datatable.bootstrap.custom-datatable .datatable-header .datatable-header-cell {
  @extend .px-2;
  @extend .py-1;
  font-size: 0.8125rem;
  vertical-align: middle;
}

.ngx-datatable.bootstrap.custom-datatable .datatable-body .datatable-body-row .datatable-body-cell .datatable-body-cell-label>div {
  overflow: hidden;
  // overflow: initial;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
  overflow: initial !important;
}

/* ---- Datatable in Claim Page ---- */
#claim.ngx-datatable .datatable-header-cell-label,
#claim.ngx-datatable .datatable-body-cell-label {
  white-space: normal !important;
  word-break: break-all !important;
  font-size: 0.8rem;
}
