<div class="container-fluid pt-3">
    <div class="row mr-0 pt-2">
        <div class="col">
            <label class="font-weight-semi-bold blue">Doctors</label><br>
            <table>
                <tr>
                    <td>
                        <input type="checkbox"> Dr. Ng Puay Hong <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox"> Dr. Cindy Xie <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox"> Dr. Ashley Liew <br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <label class="font-weight-semi-bold blue">Clinic</label><br>
            <table>
                <tr>
                    <td>
                        <input type="checkbox"> BBTW <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox"> HHD <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox"> DISNEY <br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <!-- <div class="col-md-6"> -->
        <button class="btn btn-md btn-violet" (click)="buttonClicked()">Update Calendar</button>
        <!-- </div> -->
    </div>
</div>